.projectsPage {
  box-sizing: border-box;
  width: 100%;
  // margin-top: 5rem;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;

  .pageContainer {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 32px;
    align-items: start;
  }

  .leftColumn {
    display: flex;
    flex-direction: column;
  }

  .sidebarContainer {
    padding: 20px;
    gap: 20px;
  }

  .categoriesHeader {
    font-weight: bold;
    font-size: 1.1rem;
    // padding: 10px 0;
    // margin: 10px 0;
    text-align: left;
    padding-bottom: 20px;
  }

  .categoriesList {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .categoryItem {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  .categoryToggle {
    margin-right: 20px;
    accent-color: #40939b;
  }

  .categoryLabel {
    font-size: 0.9rem;
    color: #696f83;
    cursor: pointer;
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
  }

  .headerBox {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    width: 100%;
    // margin-bottom: 2rem;
  }

  .projectsTitle {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    // margin: 0;
    width: 100%;
    padding: 0;
  }

  .cardsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .cardContainer {
    max-width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 2rem;
    padding: 0 15px;
  }

  .card {
    border: none;
    border-radius: 8px;
    background: white;
    box-shadow: none;
    height: 350px;
    width: 290px;
    max-width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: translateY(-8px) scale(1.05);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .image {
    background: #ffffff;
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
  }

  .card__body {
    padding: 15px 15px 0px;
    h2 {
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 14px;
    }
  }

  .tag {
    display: inline-block;
    background-color: #eeeef1;
    color: #696f83;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 12px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-weight: bold;

    :global([data-theme="dark"]) & {
      background-color: #40939b;
      color: #ffffff;
    }
  }

  .card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 20px;
    width: 100%;
    text-align: center;

    > :last-child {
      margin-bottom: 0;
      width: 100%;
      padding: 0;
      text-align: left;
    }

    a {
      color: #696f83;
      padding: 0;
      border: none;
      background-color: transparent;
    }

    a:hover,
    a:focus {
      background-color: transparent !important;
      color: #569c76 !important;
    }

    &:hover a,
    &:focus-within a {
      color: #569c76 !important;
    }

    &:hover .button__icon,
    &:focus-within .button__icon {
      color: #569c76 !important;
    }

    .button__icon {
      color: currentColor;

      svg {
        display: block;
        fill: currentColor;
      }

      a:hover &,
      a:focus & {
        color: #569c76 !important;
      }
    }
  }
}

.projectsPage {

  @media (max-width: 1579px) {
    padding: 0 34px;
    
    .headerBox .projectsTitle {
      margin-left: 3rem;
    }

    .pageContainer {
      grid-template-columns: 1fr 4fr;
      gap: 0;

      .leftColumn .sidebarContainer {
          margin-left: 3rem;
        }

      .rightColumn .cardsList {
          gap: 60px;
        }
    }
  }
  
  @media (max-width: 1440px) {

    .pageContainer {
      .rightColumn .cardsList {
        gap: 40px;
      }
    }
  }

  @media (max-width: 1340px) {
    
    .headerBox .projectsTitle {
      margin-left: 1rem;
    }
    
    .pageContainer {
      .leftColumn .sidebarContainer {
        margin-left: 1rem;
      }
    }
  }

  @media (max-width: 1305px) {
    .pageContainer {
        .rightColumn .cardsList {
          gap: 20px;
        }
      }
  }

  @media (max-width: 1255px) {

    .headerBox .projectsTitle {
        margin-left: 0;
      }
    
    .pageContainer {
      grid-template-columns: 1fr 4fr;
  
      .leftColumn .sidebarContainer {
        margin-left: 0;
      }
  
      .rightColumn .cardsList {
        gap: 15px;
      }
    }

  }

  @media (max-width: 1242px) {
    .headerBox .projectsTitle {
        margin-left: 0;
     }

    .pageContainer {
      grid-template-columns: 1fr 5fr;

        .leftColumn .sidebarContainer {
          padding: 20px 0;
          }

        .rightColumn .cardsList {
          gap: 10px;
        }
      }
  }

  @media (max-width: 1183PX) {
    .pageContainer {
        .rightColumn .cardsList {
          gap: 5px;
        }
      }
  }

  @media (max-width: 1171PX) {
    .pageContainer {
        .rightColumn .cardsList {
          gap: 0;
        }
      }
  }
}


// .projectsPage {

//   @media (max-width: 1159PX) {
//     .headerBox {
//       padding: 15px;
//     }

//     .headerBox .projectsTitle {
//       margin: 0 3rem;
//     }

//     .pageContainer {
//       grid-template-columns: 1fr 2.5fr;

//       .leftColumn .sidebarContainer {
//         padding: 20px;
//         margin-left: 3rem;
//       }
//       .rightColumn {
//         margin-right: 6rem;
//       }      
      
//       .rightColumn .cardsList {
//         gap: 40px;
//       }

//     }

//   @media (max-width: 1093px) {

//      .rightColumn {
//       padding: 20px 0;
//     }

//      .sidebarContainer {
//       margin-left: 1rem;
//     }

//      .projectsTitle {
//       padding-left: 1rem;
//     }
//   }
  
//   @media (max-width: 1087px) {

//     .projectsPage .pageContainer {
//       gap: 0;
//       grid-template-columns: 1fr 3fr;
//     }

//     .projectsPage .sidebarContainer {
//       margin-left: 5rem;
//     }

//     .projectsPage .rightColumn {
//       padding: 20px;
//     }

//     .projectsPage .cardsList {
//       gap: 50px;
//     }

//     .projectsPage .projectsTitle {
//       padding-left: 5rem;
//     }
//   }
  

//   @media (max-width: 1024px) {

//     .projectsPage .pageContainer {
//       gap: 0;
//       grid-template-columns: 1fr 3fr;
//     }

//     .projectsPage .sidebarContainer {
//       margin-left: 3rem;
//     }

//     .projectsPage .projectsTitle {
//       padding-left: 3rem;
//     }
//   }
// }

.projectsPage {

  @media (max-width: 996px) {

    .pageContainer {
      gap: 0;
      grid-template-columns: 1fr 2.5fr;
    }
  }

  @media (max-width: 991px) {

    .projectsPage .cardsList {
      gap: 50px;
    }
    .pageContainer {
      grid-template-columns: 1fr 3fr;
    }
    
  }
  
  @media (max-width: 960px) {

    .projectsPage {
      margin-top: 1rem !important;
    }
    
    .projectsPage.headerBox {
      padding: 15px;
    }

    // .pageWrapper {
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    // }

    .pageContainer {
      grid-template-columns: 1fr 3fr;
    }

    .pageContainer .sidebarContainer {
      padding-left: 0;
      // padding-right: 0;
    }
  }

  @media (max-width: 911px) {
    .pageContainer .cardsList {
      gap: 10px;
    }
  }

  @media (max-width: 897px) {

    .projectsPage .pageContainer {
      grid-template-columns: 1fr;
    }

    .projectsPage .pageContainer .leftColumn {
      display: none;
    }

    .projectsPage .cardsList {
      gap: 20px;
    }

    .projectsPage .card {
      width: 100%;
      max-width: 100%;
    }

    .projectsPage .projectsTitle {
      font-size: 1.5rem;
      padding-left: 2rem;
    }

    // .pageWrapper {
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    // }
  }

  @media (max-width: 767px) {

    .projectsPage .cardsList {
        gap: 40px;
      }

    .projectsPage .card {
        width: 299px;
      }
  }
  
  @media (max-width: 687px) {
    .projectsPage .cardsList {
        gap: 30px;
      }
  }
  
  @media (max-width: 677px) {
    .projectsPage .cardsList {
        gap: 20px;
      }
  }
  
  @media (max-width: 667px) {
    .projectsPage .cardsList {
        gap: 15px;
      }
  }

  @media (max-width: 647px) {
    .projectsPage .cardContainer {
        max-width: 250px;
      }
    .projectsPage .cardsList {
      gap: 30px;
    }
  }
  
  @media (max-width: 600px) {

    .projectsPage .cardsList {
        gap: 30px;
      }

    .projectsPage .cardContainer {
        max-width: 250px;
      }
  }
  
  @media (max-width: 569px) {
  .projectsPage .cardsList {
      gap: 0;
    }
  }
  
  @media (max-width: 559px) {
    .projectsPage .cardsList {
        gap: 15px;
      }
    .projectsPage .cardContainer {
      flex-basis: 100%;
      max-width: 100%;
    }

    .projectsPage .cardsList .card{
      width: 100%;
    }
  }
  
  @media (max-width: 400px) {

    .projectsPage .projectsTitle {
      font-size: 1.2rem;
      padding-left: 0;
      margin-bottom: 0;
    }

    .projectsPage .headerBox {
      padding: 15px;
    }

    .projectsPage .cardsList {
      gap: 5px;
    }
    .projectsPage .cardContainer {
      padding: 0;
    }
  }
} 
 
[data-theme="dark"] {

  .main-wrapper {
    background: #05192d;
  }

  .projectsPage .card {
    background: #193549;
    border: none;

    &:hover {
      box-shadow: 0 0 0 1px rgba(100, 181, 176, 0.35), 0 10px 22px rgba(3, 14, 25, 0.42);
    }
  }

  .projectsPage .tag {
    background-color: #40939b;
    color: #D9E3E4;
  }

  .projectsPage .categoryLabel {
    color: #B8C6C7;
  }
  

  .projectsPage .card__footer a {
    color: #D9E3E4 !important;
  }

  .projectsPage .card__footer .button__icon {
    color: currentColor;

    a:hover &,
    a:focus & {
      color: #ffffff !important;
    }
  }

  .projectsPage .card__footer {

    a:hover,
    a:focus,
    &:hover a,
    &:focus-within a {
      background-color: transparent !important;
      color: #ffffff !important;
    }

    &:hover .button__icon,
    &:focus-within .button__icon {
      color: #ffffff !important;
    }
  }
  
  .projectsPage .categoriesHeader {
    color: #b0b3c1;
  }

  .projectsPage .categoryLabel {
    color: #b0b3c1;
  }

  .projectsPage .categoryToggle {
    background-color: white;
    accent-color: #40939b;
  }
}