// src\components\homepage\Hero.module.scss
@import "../../css/mixins.scss";

body,html {
  margin: 0;
  padding: 0;
}

/* Styles for the home page only */
body.homepage {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

body.homepage .container {
  width: 100%;
  max-width: 100%;  
  padding: 0;       
  margin: 0;
}

.heroBanner {
  background: #000;
  color: #fff;
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw; 
  border: 3px;
  box-sizing: border-box;  

  @include small-size {
    padding: 4rem 2rem;
  }
}

.title {
  font-size: 6rem;
  text-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);
  padding: 7rem 2rem 0rem 2rem;
  
  @include small-size {
    font-size: 2rem;
    padding: 0 2rem;
  }
}

.subtitle {
  font-size: 2rem;
  margin: 0;
  padding: 0rem 2rem 9rem 2rem;
  
  @include small-size {
    font-size: 1.5rem;
    padding: 0 2rem; 
  }  
}

.highlighted {
  background: linear-gradient(to left, #0054ad 0%, #b8fb3c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
