[submodule "test-repos/test-static-site"]
	path = test-repos/test-static-site
	url = git@github.com:joseeden/testrepo1.git
[submodule "test-repos/test-jenkins-project"]
	path = test-repos/test-jenkins-project
	url = git@github.com:joseeden/test-jenkins-project.git
[submodule "test-repos/test-go-webapp-sample"]
	path = test-repos/test-go-webapp-sample
	url = git@github.com:joseeden/test-go-webapp-sample.git
[submodule "test-repos/test-aws-sam-hello-app"]
	path = test-repos/test-aws-sam-hello-app
	url = git@github.com:joseeden/test-aws-sam-hello-app.git
