p {                               /* Least specific */
  color: blue; 
}      

.highlight {                        
  color: green; 
}      

#important {                       /* Most specific */       
  color: red; 
}  