.ongoing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d8d8d8;
  margin: 0;
}

.ongoing-image {
  max-width: 80%;  
  height: auto;
}
