/* Default text color for all tabs */
.tab-label {
    color: black;
  }
  
  .red {
    /* Default text color for unselected tab */
    color: red;
  }
  
  .red[aria-selected='true'] {
    /* Background color for selected tab */
    background-color: red;
    /* Text color for selected tab */
    color: black;
  }
  
  .orange {
    /* Default text color for unselected tab */
    color: orange;
  }
  
  .orange[aria-selected='true'] {
    /* Background color for selected tab */
    background-color: orange;
    /* Text color for selected tab */
    color: black;
  }
  
  .yellow {
    /* Default text color for unselected tab */
    color: yellow;
  }
  
  .yellow[aria-selected='true'] {
    /* Background color for selected tab */
    background-color: yellow;
    /* Text color for selected tab */
    color: black;
  }
  