.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    padding-top: 1rem !important;
    max-width: 75% !important;
  }
} 

