body {
 background-color: azure;
 font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  
}

.container > * {
  flex-basis:2000px;
}

.box {
  padding: 20px;
}


/* Aligning items with align-self*/

.flexstart {
  height: 200px;
  border: solid;
  align-items: flex-start;
  flex-wrap: nowrap;
}

/* Colors */

.red {
  background: #D76C82;
}

.orange {
  background: #FFAB5B;
  
  align-self: center;
}

.yellow {
  background: #F8ED8C;
}

.green {
  background: #66D2CE;
  align-self: flex-end
}

.blue {
  background: #578FCA;
}

.indigo {
  background: #c8a7df;
}

.violet {
  background: #a183d4;
}